*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main{
    background-color: rgb(192, 12, 153);
    height: 100vh;
    overflow: hidden;
    
}
.bg-white{
    background-color: white;
    border-radius: 10px;
    height: 200px;
    padding: 20px 20px;
    box-shadow:2px 2px rgb(68, 67, 67) ;
    
}
.bg-white2{
    background-color: white;
 
    height: 250px;
    padding: 20px 20px;
     
    
}
.text-center{
    text-align: center;
}
.flex{
    display: flex;
    
}
.flex-center{
    display: flex;
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
input{
    padding: 10px ;
    margin-right: 10px;
    border-radius: 10px;
    border:1px solid rgb(211, 62, 179) ;
}
select{
    padding: 10px ;
    margin-right: 10px;
    border-radius: 10px;
    border:1px solid rgb(211, 62, 179) ;
}
h1{
    padding-bottom:20px;
    padding-top: 20px;
}

/* button{ */
    /* margin-top: 30px;
    padding:10px;
    /* background-color: rgb(190, 185, 185); */
    /* margin-right:20px; */
    /* color:rgb(211, 62, 179) ;
    border-radius: 10px; */
/* } */ */
/* .b-one:hover{
    background-color: rgb(235, 236, 230);
}
.b-two:hover{
    color:red;

} */
.link-ed{
    text-decoration: none;
    color: inherit;
}
.button{
    margin-top: 30px;
    margin-right: 20px;
}
  
.button a{
    
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:11px;
    text-align: center;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding:5px 25px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
  
.button a:active{
    top:10px;
    background-color:#F78900;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}
  
.button:after{
    content:"";
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
h3{
    display: flex;
    justify-content: flex-start;
}

.list{
    color: rgb(211, 62, 179) ;
    list-style: none;
    padding: 20px 50px;
}
li{
    list-style: none;
    color: inherit;
}
.flex-content{
    justify-content: space-between;
}
.padd{
    padding-top: 20px;
}
.padd2{
    padding-top: 40px;
}
.padd3{
    padding-top: 55px;
}

.bg-grey{
    background-color: rgb(158, 157, 157);
    height: 150px;
    padding: 20px;
}
/* h4{
    padding-top:30px;
} */
@media screen and (max-width:500px){
    h1{
        font-size: 15px;
    }

    input{
        width:150px ;
    }
    h3{ 
        font-size: 15px;
    }
    /* .bg-white2{
    width:400px
    } */
}




@media screen and (min-width:501px) and (max-width:600px){
    input{
         width:150px ;
    }
    
    h1{
        font-size: 25px;
    }

}
    
    /* .list{
        padding:10px 0px 0 60px;
        font-size: 12px;
    }
    */